{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
        <div class="row">
          <div class="col-md-3">
            <div class="card card-user">
              <div class="image">
                <img src="{{ asset('assets/img/backgd_profile_user.jpg') }}" alt="...">
              </div>
              <div class="card-body">
                <div class="author">
                    {% if users.picture %}
                        <img src="{{ asset('upload/avatar/') }}{{ users.picture }}" class="avatar border-gray">
                    {% else %}
                        <img src="{{ asset('assets/img/nopicture.jpg') }}" class="avatar border-gray">
                    {% endif %}
                    {% if role == 'ROLE_ADMIN' %}
                        <h5 class="title">Administrateur</h5>
                    {% else %}
                        <h5 class="title">Utilisateur</h5>
                    {% endif %}
                  <p class="description">
                    {{ users.name }}
                  </p>
                </div>
                <p class="description text-center">
                  <font style="font-size:10px">Date de création du compte</font><br>
                  <b style="color:#000">{{ users.createAt|date('Y-m-d H:i:s') }}</b><br>
                  {{ users.nbconnect }}<br>Nombre connexion
                  <br><br>
                    {% if users.status != 1 %}
                    <b style="color:#acbc1e">
                    <i class="nc-icon nc-touch-id" style="font-size:30px"></i><br>
                    Compte activé
                    </b>
                    {% else %}
                    <b style="color:#ff0000">
                    <i class="nc-icon nc-touch-id" style="font-size:30px"></i><br>
                    Compte désactivé
                    </b>
                    {% endif %}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card">
              <div class="card-header">
                <p><a href="/admin/users">Retour</a> / Date de la dernière connexion : {{ users.LastConnect|date('Y-m-d H:i:s') }}</p>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:30px">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <i class="nc-icon nc-settings-gear-65" style="color:#fff"></i>
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link"  href="#" data-toggle="modal" data-target="#myChangeprofile" data-cache="false">Modifier le profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#myChangemdp" data-cache="false">Changer le mot de passe</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#mySupp" data-cache="false">Effacer le compte</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#myChangeavatar" data-cache="false">Changer l'avatar</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Accès aux salles de stockage</h4>
              </div>
              <div class="card-body">
                <div  id="icons-wrapper">
                    <div class="row">
                        <div class="col-md-12" align=center>
                        {% if access is defined %}
                            {% if access|length != 0 %}
                                <table class="table"
                                {% for entites in access %}
                                <tr>
                                    <td>
                                    <i class="nc-icon nc-bank"></i> 
                                    {% if entites.entites.name is defined %}
                                    <a href="/admin/entites/entite/{{ entites.entites.id }}">{{ entites.entites.name }}</a>
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if entites.entites.ville is defined %}
                                    {{ entites.entites.ville }}
                                    {% endif %}
                                    </td>
                                    <td>
                                    {% if entites.entites.codep is defined %}
                                    {{ entites.entites.codep }}
                                    {% endif %}
                                    </td>
                                    <td class="text-right">
                                    <a href="/admin/entites/entite/{{ entites.entites.id }}"><i class="nc-icon nc-zoom-split"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </table>
                            {% else %}
                                <i class="fa fa-plus" style="font-size:50px;color:#ddd"></i><br>
                                <font style="font-size:20px">Ajoutez un utilisateur</font><br>
                            {% endif %}
                        {% else %}
                            <i class="fa fa-plus" style="font-size:50px;color:#ddd"></i><br>
                            <font style="font-size:20px">Ajoutez un utilisateur</font><br>
                        {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include 'admin/domodal.user.change.html.twig' %}
<script>
var activepage = "#slidelink5";
</script>
{% endblock %}